<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
      <a class="navbar-brand text-danger fs-2" routerLink="/home">Change.org</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                  <button class="nav-link fs-4 m-2 btn-link" [disabled]="!isSignedIn" routerLink="/peticion/create">Iniciar una petición</button>
              </li>

              <li class="nav-item">
                  <button class="nav-link fs-4 m-2 btn-link" [disabled]="!isSignedIn" routerLink="/peticion">Ver peticiones</button>
              </li>

              <li class="nav-item">
                  <button class="nav-link fs-4 m-2 btn-link" [disabled]="true">Mis peticiones</button>
              </li>

              <li class="nav-item">
                <button class="nav-link fs-4 m-2 btn-link" [disabled]="true">Mis firmas</button>
              </li>


          </ul>
      </div>

   


            <div class="position-relative" *ngIf="isSignedIn"  (mouseenter)="showFloatingTab()" (mouseleave)="hideFloatingTab()">

              <a routerLink="/profile" class="d-inline-block">
                <img class="img-xs rounded-circle" width="80rem" src="https://pbs.twimg.com/profile_images/1612619019164717057/ncI3K_Bf_400x400.jpg" alt="">
              </a>

              <div class="floating-tab position-absolute border bg-light z-3" *ngIf="isHovered">
                <a class="nav-link fs-5 m-2 link-danger" *ngIf="isSignedIn" (click)="signOut()" routerLink="/home">Logout</a>
              </div>
            </div>

      <a class="nav-link fs-5 m-2 link-danger" *ngIf="!isSignedIn" routerLink="/register">Register</a>
      <a class="nav-link fs-5 m-2 link-danger" *ngIf="!isSignedIn" routerLink="/login">Login</a>

  </div>
</nav>

<router-outlet></router-outlet>

<br>

<footer class="text-center text-lg-start bg-light text-muted">
  <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >

      <div>
          <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
          </a>
      </div>
  </section>

  <section class="">
      <div class="container text-center text-md-start mt-5">

          <div class="row mt-3">


              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                      ACERCA DE
                  </h6>
                  <p>
                      <a href="#!" class="text-reset">Sobre Change.org</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Impacto</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Empleo</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Equipo</a>
                  </p>
              </div>

              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                      COMUNIDAD
                  </h6>
                  <p>
                      <a href="#!" class="text-reset">Blog</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Prensa</a>
                  </p>
              </div>

              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                      AYUDA
                  </h6>
                  <p>
                      <a href="#!" class="text-reset">Ayuda</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Guías</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Privacidad</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Políticas</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Cookies</a>
                  </p>
              </div>





              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                      REDES SOCIALES
                  </h6>
                  <p>
                      <a href="#!" class="text-reset">Twitter</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Facebook</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Instagram</a>
                  </p>
              </div>
          </div>
      </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022, Change.org, PBC
      <a class="text-reset fw-bold" href="https://change.org/">Change.org</a>
  </div>

</footer>
